doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/controllers/MainController.js')
    script(src='/javascripts/controllers/GameController.js')
    script(src='/javascripts/managers/LayoutManager.js')
    script(src='/javascripts/players/Player.js')
    script(src='/javascripts/players/HumanPlayer.js')
    script(src='/javascripts/players/AI.js')
    script(src='/javascripts/main.js')